---
---

// Headers
$header-heading-color: #fff;
$header-bg-color: #180271;
$header-bg-color-secondary: #6c1599;

// Text
$section-headings-color: #6c1599 !default;
$body-text-color: #4a5255 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

@import "{{ site.theme }}";

.page-header {
    padding: 50px;
}